export DEBUG=True
export SECRET_KEY=fyreplace
export BASE_URL=http://localhost:8000
export ALLOWED_HOSTS=.fyreplace.app
export ROLLBAR_TOKEN=rollbar-token
export ROLLBAR_DEVELOPMENT=True

#export SSL_PRIVATE_KEY_PATH=keys/localhost.key
#export SSL_CERTIFICATE_PATH=keys/localhost.crt

export DATABASE_URL=postgres://fyreplace:fyreplace@localhost/fyreplace

#export DATABASE_ENGINE=postgres
#export DATABASE_NAME=fyreplace
#export DATABASE_USER=fyreplace
#export DATABASE_PASSWORD=fyreplace
#export DATABASE_HOST=localhost
#export DATABASE_PORT=5432

export S3_ACCESS_KEY_ID=key_id
export S3_SECRET_ACCESS_KEY=access_key
export S3_STORAGE_BUCKET_NAME=fyreplace
export S3_REGION_NAME=region
export S3_ENDPOINT_URL=region.example.org
export S3_CUSTOM_DOMAIN=s3.cdn.example.org

export CELERY_BROKER_URL=redis://localhost:6379/0
#export CELERY_RESULT_BACKEND=redis://localhost:6379/1

#export CELERY_BROKER_ENGINE=redis
#export CELERY_BROKER_NAME=0
#export CELERY_BROKER_USER=
#export CELERY_BROKER_PASSWORD=
#export CELERY_BROKER_HOST=localhost
#export CELERY_BROKER_PORT=6379

export GRPC_HOST=0.0.0.0
export GRPC_PORT=50051
export MAX_CONCURRENCY=10

export MAILGUN_API_URL=https://api.eu.mailgun.net/v3
export MAILGUN_API_KEY=api_key
export MAILGUN_WEBHOOK_SIGNING_KEY=signing_key
export DEFAULT_FROM_EMAIL="Fyreplace <noreply@fyreplace.app>"
export SERVER_EMAIL="Fyreplace Server <server@fyreplace.app>"
export ADMINS="Admin:admin@fyreplace.app"
export EMAIL_LINKS_DOMAIN=fyreplace.link
