# Django
django[argon2]
django-stubs
django-celery-beat
django-storages[boto3]
django-anymail[mailgun]
pillow

# gRPC
grpcio
grpcio-tools
grpc-interceptor

# Celery
celery[redis]

# Database engines
mysqlclient
psycopg2

# Other utilities
pyjwt
python-magic
email-validator
requests
qrcode

# Configuration injection
python-dotenv

# Testing
pytest-django
pytest-xdist[psutil]

# Error reporting
rollbar

# Development tools
ipython
isort
black
tqdm
